<section class="card-component-container">
  <img
    [style.filter]="filterImg()"
    src="{{ cardAttributes?.cardImage }}"
    alt="{{ cardAttributes?.cardImageDescription }}"
    loading="lazy"
  />
  <!-- <img
    src="https://drive.google.com/file/d/1k-wTXR6GFm7W6Xi02xijACngsBsDcjUJ/view?usp=drive_link"
    alt=""
  /> -->
  <div
    [ngClass]="{ 'card-content-premium': premiumStyle }"
    class="card-content"
  >
    <div class="text-card">
      <div
        *ngIf="!isNews(); else templateName"
        class="card-soon"
        [style.display]="showSoon()"
      >
        EM BREVE
      </div>

      <ng-template #templateName>
        <div class="card-soon-premium">NOVIDADE</div>
      </ng-template>
      <h3>{{ cardAttributes?.cardTitle }}</h3>
      <p>
        {{ cardAttributes?.cardDescription }}
      </p>
    </div>
    <div class="button-container">
      <button
        *ngIf="!checkRole(); else blocked"
        mat-button
        class="submitBtn submitBtn-premium"
        [disabled]="isDisabled()"
        routerLink="{{ cardAttributes?.path }}"
      >
        {{ cardAttributes?.cardButtonText }}
      </button>
      <ng-template #blocked>
        <button class="blocked-access">
          <span>SEJA PREMIUM</span>
          <img src="/assets/images/premium/locker.svg" alt="" />
        </button>
      </ng-template>
    </div>
  </div>
</section>
