.card-component-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 23.6875rem;
  height: 24.6875rem;
  border-radius: 0.625rem;

  img {
    width: 100%;
    height: 12.125rem;
    object-fit: cover;
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .card-content {
    display: grid;
    flex-direction: column;
    padding: 0;

    .text-card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;

      .card-soon {
        display: flex;
        align-self: flex-start;
        align-items: center;
        justify-content: center;
        height: 1.26088rem;
        padding: 0rem calc(0.15763rem + 0.31519rem);
        border-radius: 0.63044rem;
        background: #f9d6c7;

        // typography
        color: #b0683b;
        font-size: 0.55163rem;
        font-weight: 700;
        letter-spacing: 0.00988rem;
      }
      .card-soon-premium {
        display: flex;
        align-self: flex-start;
        align-items: center;
        justify-content: center;
        height: 1.26088rem;
        padding: 0rem calc(0.15763rem + 0.31519rem);
        border-radius: 0.63044rem;
        background: #f9d6c7;

        // typography
        color: #b0683b;
        font-size: 0.55163rem;
        font-weight: 700;
        letter-spacing: 0.00988rem;
      }

      h3,
      p {
        color: #000;
        margin: 0;
      }

      h3 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
      }

      p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 140%; /* 1.225rem */
      }
    }

    .button-container {
      padding: 0 1rem 1rem 1rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ba8e73;
        width: 100%;

        //typography
        color: #fff;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1rem; /* 114.286% */
        letter-spacing: 0.07813rem;
      }

      button:disabled {
        opacity: 0.3;
        background: #979797;
        color: #171717;
        pointer-events: none;
      }
    }
  }
}
// style change for free user blocked access

// style change for premium-modal
.card-content-premium {
  height: 100%;
  display: flex !important;
  justify-content: space-between;

  // .card-soon-premium {
  //   display: none !important;
  // }

  .submitBtn-premium {
    background-color: #a42d2d !important;
  }

  button {
    appearance: button;
    border: solid transparent;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  button:after {
    background-clip: padding-box;
    border: solid transparent;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  button:main,
  button:focus {
    user-select: auto;
  }

  button:hover:not(:disabled) {
    filter: brightness(1.1);
  }
}

.blocked-access {
  border: 1px solid #a42d2d;
  background: rgba(151, 151, 151, 0.2) !important;
  color: #a42d2d !important;
  height: 3.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 1.125rem;
    height: 1.3125rem;
  }
}

@media (max-width: 1199px) {
  .card-component-container {
    width: 19.8125rem;
    height: 24.6875rem;

    .card-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 0;
      justify-content: space-between !important;

      .text-card {
        padding: 0 1rem 0 1rem;
      }
    }
  }
}
