<section class="login-page-container">
  <div class="login-div-container">
    <div class="login-text">
      <div class="login-text-div">
        <img
          routerLink="/"
          src="assets/images/navigation/chevron_left_24px.svg"
          alt="return"
        />
        <h1>Recuperar senha</h1>
      </div>
      <p>Por favor, preencha o campo abaixo para recuperar sua senha.</p>
    </div>
    <form [formGroup]="formGroup" class="form-container">
      <mat-form-field class="login-mat-form-field" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            formGroup.get('email')?.hasError('pattern') ||
            (formGroup.get('email')?.hasError('email') &&
              !formGroup.get('email')?.hasError('required'))
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="cancelBtn" mat-flat-button routerLink="/">CANCELAR</button>
      <button
        type="submit"
        class="submitBtn"
        mat-flat-button
        (click)="onSubmit()"
        [disabled]="!formGroup.valid"
      >
        ENVIAR
      </button>
    </form>
  </div>
</section>
