// submit button styles
.submitBtn {
  // disabled submit button style
  &.mat-mdc-unelevated-button:disabled {
    background: #979797;
    color: #171717;
    opacity: 0.3;
    font-weight: 700;
  }
  //active submit button
  &.mat-mdc-unelevated-button:not(:disabled) {
    color: #fff;
    background: #ba8e73;
  }
}

// password recovery cancel button
.cancelBtn {
  &.mat-mdc-unelevated-button:not(:disabled) {
    display: flex;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #47474e;
  }
}
