.ng-valid {
  --mdc-outlined-text-field-outline-color: var(--sup-green) !important;
  --mdc-outlined-text-field-hover-outline-color: var(--sup-green) !important;
  --mdc-outlined-text-field-focus-outline-color: var(--sup-green) !important;
}

.login-mat-form-field {
  // change inputs border-color
  --mdc-outlined-text-field-outline-color: #fff;

  // change inputs border-color on focus
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);

  // change label color on focus
  --mdc-outlined-text-field-focus-label-text-color: #fff;

  //change color of hover effect from login inputs
  --mdc-outlined-text-field-hover-outline-color: #fff;

  //change login inputs caret color
  --mdc-outlined-text-field-caret-color: #fff;

  //change color of inputs placeholder
  --mdc-outlined-text-field-input-text-placeholder-color: #fff;

  // change typing text color
  --mdc-outlined-text-field-input-text-color: #fff;

  //change label text color
  --mdc-outlined-text-field-label-text-color: #fff;

  //change color of the "eye" icon and position
  --mat-icon-color: #fff;

  // style cursor on "eye" icon
  .mat-icon {
    cursor: pointer;
  }

  //remove the * after E-mail
  .mdc-floating-label--required:not(
      .mdc-floating-label--hide-required-marker
    )::after {
    content: "";
  }

  //change height of input error message area
  .mat-mdc-form-field-subscript-wrapper {
    height: 1.375rem;
  }

  //change chrome autofill inputs styles
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    // transition: background-color 5000s ease-in-out 0s;
    // box-shadow: inset 0 0 20px 20px #23232329;
  }
}

.login-page-container {
  .custom-checkbox {
    //change color of the checkbox checkmark when active
    --mdc-checkbox-selected-checkmark-color: #fff;

    //style the checkbox label
    .mdc-form-field {
      color: white;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    // increase the checkbox input area
    .mdc-checkbox__background {
      height: 1.5rem;
      width: 1.5rem;
    }
    // change distance between checkbox and label "lembrar-me"
    .mdc-checkbox {
      padding-right: 0.5rem;
      flex: 0 0 1rem;
    }
  }

  // change the checkbox ripple effect size and position
  .mat-mdc-checkbox-ripple,
  .mdc-checkbox__ripple {
    left: -0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  // change the checkbox input area position
  .mdc-checkbox__background {
    left: 0 !important;
    top: 0.5rem !important;
  }
  //remove the padding from label "Lembrar-me"
  .mdc-form-field label {
    padding: 0;
  }

  //change the checkbox input area border color
  .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-color: #64656e;
  }
}
