<div>
    <h1>Bem vindo(a)!</h1>
    <p>Por favor, preencha os campos abaixo para logar.</p>
</div>

<form>
    <div>
        <input type="email" name="email" id="email" />
        <input type="password" name="password" id="password" />
    </div>
    <div>
        <input type="checkbox" name="rememberMe" id="rememberMe" value="rememberMe" />
        <label for="rememberMe">Lembrar de mim</label>
        <p>
            <a href="#">Esqueceu a senha?</a>
        </p>
    </div>
    <button type="submit">Entrar</button>    
</form>



