<section class="agreement-container container">
  <button (click)="closeDialog()">
    <img src="/assets/images/premium/close-icon.svg" alt="" />
  </button>
  <div class="agreement-header">
    <h1>Termos de Uso do Sistema Orion Marte</h1>
    <p>
      Bem-vindo ao Orion Marte, um sistema interativo que oferece uma
      experiência única de exploração do planeta vermelho. Ao utilizar nossos
      serviços, você concorda com os seguintes termos.
    </p>
    <p>Leia atentamente antes de prosseguir.</p>
  </div>
  <div>
    <h3>1. Aceitação dos Termos</h3>
    <p>
      Ao acessar ou utilizar o sistema Orion Marte, você concorda com estes
      Termos de Uso e compromete-se a cumprir todas as leis e regulamentos
      aplicáveis. Se você não concordar com estes termos, por favor, não use o
      sistema.
    </p>
  </div>
  <div>
    <h3>2. Cadastro e Conta do Usuário</h3>
    <p>
      Para acessar determinadas funcionalidades, você pode ser solicitado a
      criar uma conta no Orion Marte. Ao fazer isso, você concorda em fornecer
      informações precisas, completas e atualizadas. Você é responsável por
      manter a confidencialidade de sua conta e senha.
    </p>
  </div>
  <div>
    <h3>3. Uso Adequado</h3>
    <p>
      O Orion Marte destina-se a fins educacionais e de entretenimento. Não é
      permitido usar o sistema para atividades ilegais, prejudiciais, obscenas
      ou que possam violar os direitos de terceiros. Reservamo-nos o direito de
      suspender ou encerrar contas que violem essas diretrizes.
    </p>
  </div>
  <div>
    <h3>4. Conteúdo do Usuário</h3>
    <p>
      Ao enviar, publicar ou exibir qualquer conteúdo no Orion Marte, você
      concede a nós uma licença mundial, não exclusiva, gratuita para usar,
      reproduzir, modificar, adaptar, publicar ou distribuir esse conteúdo.
    </p>
  </div>
  <div>
    <h3>5. Propriedade Intelectual</h3>
    <p>
      Todos os direitos autorais, marcas registradas, patentes e outros direitos
      de propriedade intelectual relacionados ao Orion Marte são de propriedade
      exclusiva da nossa empresa.
    </p>
  </div>
  <div>
    <h3>6. Privacidade</h3>
    <p>
      Suas informações pessoais serão tratadas de acordo com nossa Política de
      Privacidade. Ao utilizar o sistema, você consente a coleta e uso de
      informações conforme descrito nesta política.
    </p>
  </div>
  <div>
    <h3>7. Modificações nos Termos</h3>
    <p>
      Reservamo-nos o direito de modificar estes Termos de Uso a qualquer
      momento. Alterações entrarão em vigor imediatamente após serem publicadas
      no sistema. O uso contínuo após tais modificações constitui aceitação dos
      novos termos.
    </p>
  </div>
  <div>
    <h3>8. Encerramento de Conta</h3>
    <p>
      Reservamo-nos o direito de encerrar contas que violem estes Termos de Uso
      ou por qualquer motivo, sem aviso prévio.
      <br /><br />
      Agradecemos por escolher o Orion Marte. Explore, aprenda e desfrute da
      jornada pelo Planeta Vermelho!"
    </p>
  </div>
</section>
