<section class="transition-modal-container">
  <div class="transition-modal-subcontainer">
    <div class="header-container">
      <img src="/assets/images/logo/Orion-bootcamp-logo.svg" alt="" />
      <h1>CARREGANDO</h1>
    </div>

    <!-- carousel of cards -->
    <div class="out-swiper-container">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" *ngFor="let text of quotes">
            <h3>{{ text.author }}</h3>
            <p>"{{ text.quote }}"</p>
          </div>
        </div>
        <!-- extras (navigation, pagination...) -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
