<section class="transition-modal-container">
  <div class="transition-modal-subcontainer">
    <div class="header-container">
      <img src="/assets/images/logo/Orion-bootcamp-logo.svg" alt="" />
      <h1>CARREGANDO</h1>
    </div>

    <!-- carousel of cards -->
    <div class="out-swiper-container">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide first-slide">
            <h3>Margaret Hamilton</h3>
            <p>
              “Se o código de segurança não estivesse lá, a nave inteira
              entraria em pane, e talvez não fosse dessa vez que alguém teria
              pousado na lua.”
            </p>
          </div>
          <div class="swiper-slide second-slide">
            <h3>lorem ipsum</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
              fugit nobis dolorum quia sequi eos a mollitia illo nesciunt
              repudiandae vero itaque
            </p>
          </div>
        </div>
        <!-- extras (navigation, pagination...) -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
