<section class="transition-modal-container">
  <div class="header-container">
    <img src="/assets/images/logo/Orion-bootcamp-logo.svg" alt="" />
    <h1>CARREGANDO</h1>
  </div>

  <swiper-container
    class="swiper-container"
    slides-per-view="1"
    pagination="true"
    autoplay-delay="2200"
  >
    <swiper-slide class="first-slide">
      <h3>Margaret Hamilton</h3>
      <p>
        “Se o código de segurança não estivesse lá, a nave inteira entraria em
        pane, e talvez não fosse dessa vez que alguém teria pousado na lua.”
      </p>
    </swiper-slide>
    <swiper-slide class="second-slide">
      <h3>lorem ipsum</h3>
      <p>
        “Se o código de segurança não estivesse lá, a nave inteira entraria em
        pane, e talvez não fosse dessa vez que alguém teria pousado na lua.”
      </p>
    </swiper-slide>
  </swiper-container>
</section>
