<section class="premium-modal-container" #templateName>
  <div *ngIf="isLoading">
    <mat-spinner diameter="150"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="wrapper">
    <div class="header-container">
      <div class="header-text">
        <img
          class="premium-icon"
          src="/assets/images/premium/premium-icon.svg"
          alt=""
        />
        <h1>SEJA <span>PREMIUM!</span></h1>
      </div>
      <button
        mat-fab
        class="close-icon-button"
        (click)="closeDialog()"
        matTooltipClass="custom-tooltip"
        matTooltipPosition="above"
        matTooltip="Fechar"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        <img
          class="close-icon"
          src="/assets/images/premium/close-icon.svg"
          alt="close"
        />
      </button>
    </div>
    <div class="main-text">
      <h1>Olá, explorador(a) Orion!</h1>
      <p>
        Desbrave o Orion Marte em sua totalidade com o nossos planos Premium:
        sem limites, offline, sem anúncios. Acesso ilimitado a todas as áreas.
      </p>
    </div>
    <div class="cards-container cards-container-premium">
      <app-card
        *ngFor="let card of planCards"
        [cardAttributes]="card"
        [premiumStyle]="premiumStyleActive"
      />
    </div>
    <p class="explorer-plan-text">
      Continuar com o plano
      <a (click)="closeDialog()" routerLink="/page/home">
        Explorador (Gratuito)</a
      >.
    </p>
  </div>
</section>
