<section>
  <div class="home-page-container">
    <div class="home-page-header">
      <div>
        <h1>
          Olá,
          <span *ngIf="checkRole(); else templateName">
            pesquisador(a) Orion!
          </span>
          <ng-template #templateName>
            <span> explorador(a) Orion! </span>
          </ng-template>
        </h1>
        <p>Seja bem vindo(a)! O que veremos hoje?</p>
      </div>
      <app-logout></app-logout>
    </div>
    <!-- carousel container -->
    <div class="cards-container">
      <!-- swiper -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" *ngFor="let card of cards; let i = index">
            <app-card
              [class.disabled-card]="card.cardPath === ''"
              [cardAttributes]="card"
            ></app-card>
          </div>
        </div>
        <!-- navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
