section {
  width: 100%;
  height: 100vh;

  .home-page-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 5.04rem;
    gap: 3.81rem;
    width: 85.375rem;

    .home-page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5rem;

      div {
        display: inherit;
        flex-direction: column;
        gap: 0.65rem;
      }
    }

    div :where(h1, span, p) {
      margin: 0;
    }

    h1 {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        color: #ffd2b5;
      }
    }
    p {
      font-size: 1rem;
    }

    .newCards {
      .row {
        gap: 1.25rem 2.06rem;
      }
    }
  }
}

.cards-container {
  max-width: 85.375rem;
  max-height: 24.6875rem;
  position: relative;

  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-button-next,
    .swiper-button-prev {
      cursor: pointer;
      color: #ffd2b5;
      font-weight: bolder;
      --swiper-navigation-sides-offset: -2rem;
      --swiper-navigation-size: 1.75rem;
    }

    .swiper-wrapper {
      padding-inline: 5rem;

      .swiper-slide {
        width: 379px !important;

        app-card {
          user-select: none;
        }
      }
    }
  }

  .swiper-container::before,
  .swiper-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    background: rgba(16, 19, 24, 0.5);
    z-index: 2;
  }

  .swiper-container::after {
    right: -1px;
    left: auto;
  }
  .swiper-container::before {
    left: -1px;
  }
}

// if the card has no route path it will be disabled
.disabled-card {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 500px) {
  .home-page-container {
    gap: 2.5rem !important;
    .home-page-header {
      h1 {
        font-size: 30px !important;
      }
    }
  }
}

@media (max-width: 767px) {
  ::ng-deep .home-page-header .logout-container {
    gap: 3rem !important;
  }

  .home-page-header {
    flex-wrap: wrap-reverse;
    gap: 1rem;
  }
}

@media (max-width: 1199px) {
  .home-page-header {
    justify-content: space-around !important;
    padding-left: 0 !important;
  }
  .newCards {
    padding-bottom: 4.12rem;
  }
}
