section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-page-container {
    display: flex;
    flex-direction: column;
    gap: 3.81rem;
    width: 85.375rem;
    height: 48rem;

    .home-page-header {
      padding: 5rem 5rem 0 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: inherit;
        flex-direction: column;
        gap: 0.65rem;
      }
    }

    div :where(h1, span, p) {
      margin: 0;
    }

    h1 {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        color: #ffd2b5;
      }
    }
    p {
      font-size: 1rem;
    }
  }
}

swiper-container {
  position: absolute;
  width: 85.375rem;
  swiper-slide {
    width: 379px !important;
    margin: 0;
  }
  &::part(wrapper) {
    padding-inline: 5rem;
    gap: 2.19rem;
  }
}

swiper-container::before,
swiper-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  background: rgba(13, 16, 23, 0.35);
  z-index: 2;
}

swiper-container::after {
  right: 0;
  left: auto;
}

// if the card has no route path it will be disabled
.disabled-card {
  pointer-events: none;
  user-select: none;
}

/**
 * Change background color of transparent edges on carousel
 */
@media (min-height: 900px) {
  swiper-container::before,
  swiper-container::after {
    background: rgba(16, 19, 24, 0.35);
  }
}
