<section class="container d-flex justify-content-center align-items-center">
  <div class="home-page-container">
    <div class="home-page-header">
      <div>
        <h1>Olá, <span>explorador(a) Orion!</span></h1>
        <p>Seja bem vindo(a)! O que veremos hoje?</p>
      </div>
      <app-logout></app-logout>
    </div>
    <!-- carousel container -->
    <div class="d-none d-xl-flex cards-container">
      <!-- swiper -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" *ngFor="let card of cards; let i = index">
            <app-card
              [class.disabled-card]="card.path === ''"
              [cardAttributes]="card"
            ></app-card>
          </div>
        </div>
        <!-- navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <!-- responsive cards -->
    <div class="container d-block d-xl-none newCards">
      <div class="row justify-content-center">
        <div
          class="custom-card col-auto m-0 p-0"
          *ngFor="let card of cards; let i = index"
        >
          <app-card
            [class.disabled-card]="card.path === ''"
            [cardAttributes]="card"
          />
        </div>
      </div>
    </div>
  </div>
</section>
