<section>
  <div class="home-page-container">
    <div class="home-page-header">
      <div>
        <h1>Olá, <span>explorador(a) Orion!</span></h1>
        <p>Seja bem vindo(a)! O que veremos hoje?</p>
      </div>
      <app-logout></app-logout>
    </div>
    <div class="cards-container">
      <!-- carousel of cards -->
      <swiper-container
        class="swiper-container"
        slides-per-view="3"
        grab-cursor="true"
        keyboard="true"
        mousewheel="true"
        free-mode="true"
      >
        <swiper-slide *ngFor="let card of cards; let i = index">
          <app-card
            [class.disabled-card]="card.path === ''"
            [cardAttributes]="card"
          ></app-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>
