<section class="privacy-container container">
  <button (click)="closeDialog()">
    <img src="/assets/images/premium/close-icon.svg" alt="" />
  </button>
  <div class="privacy-header">
    <h1>Política de Privacidade do Sistema Orion Marte</h1>
    <p>Última atualização: 23/11/23</p>
    <p>
      A sua privacidade é importante para nós. Esta Política de Privacidade
      explica como as suas informações pessoais são coletadas, usadas e
      protegidas pelo sistema Orion Marte.
    </p>
    <p>Recomendamos que leia atentamente as informações abaixo.</p>
  </div>
  <div>
    <h3>1. Informações Coletadas</h3>
    <p>
      Ao utilizar o sistema Orion Marte, podemos coletar informações que você
      nos fornece, como nome, e-mail e informações de perfil. Também podemos
      coletar automaticamente informações sobre o seu dispositivo e a sua
      interação com o sistema.
    </p>
  </div>
  <div>
    <h3>2. Uso das Informações</h3>
    <p>
      As informações coletadas são utilizadas para personalizar a sua
      experiência no Orion Marte, fornecer conteúdo relevante, melhorar o
      sistema, processar transações e enviar comunicações relacionadas ao
      serviço.
    </p>
  </div>
  <div>
    <h3>3. Compartilhamento de Informações</h3>
    <p>
      Não vendemos, alugamos ou compartilhamos suas informações pessoais com
      terceiros, exceto conforme descrito nesta Política de Privacidade ou com o
      seu consentimento.
    </p>
  </div>
  <div>
    <h3>4. Segurança</h3>
    <p>
      Empregamos medidas de segurança para proteger suas informações pessoais
      contra acesso não autorizado ou divulgação. No entanto, nenhum método de
      transmissão pela internet ou armazenamento eletrônico é 100% seguro.
    </p>
  </div>
  <div>
    <h3>5. Cookies e Tecnologias Semelhantes</h3>
    <p>
      O Orion Marte utiliza cookies e tecnologias semelhantes para melhorar a
      experiência do usuário, personalizar conteúdo e analisar o desempenho do
      sistema. Você pode controlar o uso de cookies nas configurações do seu
      navegador.
    </p>
  </div>
  <div>
    <h3>6. Links para Outros Sites</h3>
    <p>
      O Orion Marte pode conter links para sites de terceiros. Não somos
      responsáveis pelas práticas de privacidade desses sites. Recomendamos que
      você revise as políticas de privacidade de qualquer site que visitar.
    </p>
  </div>
  <div>
    <h3>7. Consentimento</h3>
    <p>
      Ao utilizar o sistema Orion Marte, você consente com a coleta e uso de
      suas informações pessoais conforme descrito nesta Política de Privacidade.
    </p>
  </div>
  <div>
    <h3>8. Alterações na Política de Privacidade</h3>
    <div>
      <p>
        Reservamo-nos o direito de modificar esta Política de Privacidade a
        qualquer momento. Alterações entrarão em vigor imediatamente após serem
        publicadas no sistema.
      </p>
      <p>
        Se tiver dúvidas ou preocupações sobre esta Política de Privacidade,
        entre em contato conosco em contato@orionmarte.com.br.
      </p>
      <p>
        Agradecemos por escolher o Orion Marte e esperamos que tenha uma
        experiência enriquecedora explorando o Planeta Vermelho!
      </p>
    </div>
  </div>
</section>
