.login-page-container {
  .cancelBtn {
    margin-block: 0.5rem calc(1.5rem - 0.625rem);
  }

  //div flex with the h1 + img to make it easier to positioning
  .login-text-div {
    position: relative;
    display: flex;
    align-items: center;
    // positioning the chevron_left to go back to login page
    img {
      position: absolute;
      // trying to calculate the correct position
      left: calc(-2.188rem - 1.5rem);
      cursor: pointer;
    }
  }
}
