<section>
  <div class="meteorology-page-container">
    <div class="meteorology-page-header">
      <div class="header-text">
        <img
          routerLink="/page/home"
          src="assets/images/navigation/chevron-forward-outline.png"
          alt="return"
        />
        <div>
          <h1>Meteorologia em Marte</h1>
          <p>Veja abaixo as temperaturas registradas até o momento.</p>
        </div>
      </div>
      <!-- logout component -->
      <app-logout />
    </div>

    <div class="hero-card">
      <!-- hero card component -->
      <app-hero-card
        [maxIndicator]="maxIndicator"
        [minIndicator]="minIndicator"
        [heroCardParams]="heroCardParams"
        [tempType]="tempType"
        (spanClick)="convertTemp()"
      />
    </div>

    <!-- carousel of cards -->
    <swiper-container
      class="swiper-container"
      slides-per-view="7"
      navigation="true"
      space-between="24"
      grab-cursor="true"
      keyboard="true"
      mousewheel="true"
      hidden-class="swiper-button-hidden"
    >
      <swiper-slide *ngFor="let card of cards; let i = index">
        <app-carousel-card
          *ngIf="cards; else loadingTemplate"
          [carTempType]="carTempType"
          [carouselCardParams]="card"
          (click)="updateHeroCardParams(i)"
        />
        <ng-template #loadingTemplate>
          <app-loading class="loading-container"></app-loading>
        </ng-template>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
