<section>
  <div class="meteorology-page-container">
    <div class="meteorology-page-header">
      <div class="header-text">
        <img
          routerLink="/page/home"
          src="assets/images/navigation/chevron-forward-outline.png"
          alt="return"
          matTooltipClass="custom-tooltip"
          matTooltipPosition="above"
          matTooltip="Voltar"
          aria-label="Button that displays a tooltip when focused or hovered over"
        />
        <div>
          <h1>Meteorologia em Marte</h1>
          <p>Veja abaixo as temperaturas registradas até o momento.</p>
        </div>
      </div>
      <!-- logout component -->
      <app-logout />
    </div>

    <div class="hero-card">
      <!-- hero card component -->
      <app-hero-card
        [heroCardParams]="heroCardParams"
        (spanClick)="convertTemp()"
      />
    </div>

    <!-- carousel of cards -->
    <div class="out-swiper-container">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" *ngFor="let card of cards; let i = index">
            <app-carousel-card
              [carTempType]="carTempType"
              [carouselCardParams]="card"
              (click)="updateHeroCardParams(i)"
            />
          </div>
        </div>
        <!-- navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
