section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .meteorology-page-container {
    padding: 5.04rem 0;

    display: flex;
    flex-direction: column;
    gap: 3.81rem;

    .meteorology-page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-text {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 1.75rem;
          height: 1.75rem;
          cursor: pointer;
        }
      }

      div {
        display: inherit;
        flex-direction: column;
        gap: 0.65rem;
      }
    }

    .hero-card {
      width: 75.4375rem;
      display: grid;
      place-content: center;
    }

    // carousel styles
    .out-swiper-container {
      position: relative;

      .swiper-container {
        width: 75.4375rem;
        overflow: hidden;

        app-carousel-card {
          user-select: none;
        }

        .swiper-button-next,
        .swiper-button-prev {
          cursor: pointer;
          color: #ffd2b5;
          font-weight: bolder;
          --swiper-navigation-sides-offset: -2rem;
          --swiper-navigation-size: 1.25rem;
        }
      }
    }

    h1,
    p {
      margin: 0;
      line-height: normal;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
