// @import "swiper/swiper-bundle.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-container {
  padding-inline: 5rem;
  width: 75.4375rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
