.login-background-image { 
  background-image: url('./img/Epic-Sky-03\ 2.png');
  background-size: 65% auto;
  background-position: 100% center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #0f1217;
}
