.background-image {
  background-image: url("/assets/images/background/Epic-Sky-03 2.png");
  background-size: 150% auto;
  background-position: -15% 35%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #0f1217;
}

.background-image.private-page--bg {
  background-position: center;
  background-size: auto 150%;
}
