.background-image {
  background-image: url("/assets/images/background/Planet-mars.png");
  background-color: #0f1217;
  background-size: 150% auto;
  background-position: -15% 35%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.background-image.auth-page--bg {
  background-position: center center;
  background-size: 156% auto;
  background-attachment: fixed;
}
