// change mars-map border radius
::ng-deep .esri-view-surface {
  border-radius: 1.25rem;
}
::ng-deep .esri-view-surface::after {
  border-radius: 1.25rem;
}
::ng-deep .esri-ui {
  border-radius: 1.25rem;
}
::ng-deep .esri-ui-corner * {
  border-radius: 1.25rem;
}

// map size
.map-container {
  width: 77.5625rem;
  height: calc(22.9375rem + 7.0625rem);
}
