.login-page-container {
  .cancelBtn {
    margin: 0.5rem 0;
  }

  //div flex with the h1 + img to make it easier to positioning
  .login-text-div {
    position: relative;
    display: flex;
    align-items: center;
    // positioning the chevron_left to go back to login page
    img {
      position: absolute;
      // padding: 0.5rem 0;
      left: calc(-2.188rem - 1.5rem);
      cursor: pointer;
    }
  }
}
