<section>
  <div class="premium-page-header">
    <div class="premium-text">
      <img
        routerLink="/page/home"
        src="assets/images/navigation/chevron-forward-outline.png"
        alt="return"
        matTooltipClass="custom-tooltip"
        matTooltipPosition="above"
        matTooltip="Voltar"
        aria-label="Button that displays a tooltip when focused or hovered over"
      />
      <div>
        <h1>Explore <span>Marte em 3D</span></h1>
        <p>
          Uma jornada interativa através do Planeta Vermelho. Veja, aprenda e
          mergulhe na sua superfície intrigante.
        </p>
      </div>
    </div>
    <!-- logout component -->
    <app-logout />
  </div>
  <!-- <div class="map-placeholder"></div> -->
  <app-mars-map />
</section>
