.login-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .login-div-container {
    width: 100%;
    max-width: 33.7rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 2.5rem;

    .login-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      gap: 0.5rem;

      h1 {
        color: #fff;
        margin: 0;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.045rem;
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: calc(2rem - 1.375rem);

    button {
      height: 3.5rem;
    }
  }

  .checkbox-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.5rem calc(1.5rem - 0.625rem);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a,
    label {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
    }
    a {
      padding: 0;
    }

    p {
      margin: 0;
    }
  }
}
