// change "Seja Premium" button tooltip background and text color
::ng-deep .custom-tooltip {
  --mdc-plain-tooltip-container-color: #fff !important;
  --mdc-plain-tooltip-supporting-text-color: #000000 !important;
  --mdc-plain-tooltip-supporting-text-font: "Roboto" !important;
}

// change tooltip text area width
::ng-deep .mdc-tooltip__surface {
  max-width: 300px !important;
}

.logout-container {
  display: flex;
  align-items: center;

  .premium-icon {
    margin-right: 1.56rem;
  }

  button {
    margin-right: 2.5rem;
    width: 11.4375rem;
    height: 2.063rem;
    border-radius: 3.125rem;
    border: 1px solid #a42d2d;
    background: #fff;

    //typography
    color: #a42d2d;
    font-weight: 700;
    text-transform: uppercase;
  }

  .logout-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    background-color: transparent;
  }

  /* plus logout */
  .logout-svg {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  /* hover effect on button width */

  .logout-btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  }

  .logout-btn:hover .logout-svg {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
  }
  /* hover effect button's text */

  .logout-btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  /* button click effect*/

  .logout-btn:active {
    transform: translate(2px, 2px);
  }
}
