<!-- logout with animation -->
<section class="logout-container">
  <button
    (click)="openPremiumModal()"
    mat-stroked-button
    matTooltipClass="custom-tooltip"
    matTooltipPosition="above"
    matTooltip="Acesse e seja Premium"
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    SEJA PREMIUM
  </button>
  <button (click)="logout()" class="logout-btn">
    <div class="logout-div">
      <img src="/assets/images/navigation/exit-outline 1.svg" alt="" />
    </div>
    <div class="text">SAIR</div>
  </button>
</section>
