/* You can add global styles to this file, and also import other style files */
@import "styles/components/am-login-input.scss";
@import "styles/components/am-login-button.scss";
@import "styles/themes/custom-theme.scss";
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";
@import "swiper/swiper-bundle.css";

:root {
  --primary-color: #ba8e73;
  --sup-red: #e38686;
  --sup-green: #9ad698;
  --disabled: #979797;
}

html {
  background-color: #0f1217;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
p {
  color: #fff;
}

app-premium-modal {
  display: grid;
  place-content: center;
  border-radius: 1.25rem;
  background: #181818;
}

.app-premium-modal-radius .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1.25rem !important;
  background-color: transparent !important;
}

html {
  overflow: hidden;
}
