<section class="carousel-card-container">
  <div *ngIf="carouselCardParams; else loadingTemplate">
    <div>
      <h1>SOL {{ getSolNumberMarsDay(carouselCardParams) }}</h1>
      <p>
        {{ getTerrestrialDate(carouselCardParams) }}
      </p>
    </div>
    <hr />
    <div class="temperature-container">
      <h1>
        Máx.: {{ getMaximumTemperature(carouselCardParams) }}°
        {{ carTempType }}
      </h1>
      <p>
        Mín.: {{ getMinimumTemperature(carouselCardParams) }}°
        {{ carTempType }}
      </p>
    </div>
  </div>
  <ng-template #loadingTemplate>
    <app-loading class="loading-container"></app-loading>
  </ng-template>
</section>
