.mat-hero-card-container {
  display: flex;
  width: 40.875rem;
  height: 13.25rem;
  border-radius: 1.625rem;
  background: rgba(62, 51, 51, 0.25);
  padding: 2.75rem 2rem 2.58rem 2rem;

  .hero-card-params-div {
    display: flex;
    gap: 2.5rem;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    height: 100%;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h1,
  p {
    margin: 0;
  }
  h1 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;

    display: flex;
    gap: 1rem;

    .temp-span {
      display: flex;
      width: 4.151rem;
      /* text-align: center; */
      justify-content: flex-end;
    }
    .tempType-span {
      cursor: pointer;
      user-select: none;
    }
  }

  p {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
  }
  .dates-container,
  .temperature-container {
    display: flex;
    flex-direction: column;
    gap: 0.38rem;
    align-self: flex-start;

    .thermometer,
    .calendar {
      margin-bottom: calc(1rem - 0.438rem);
      width: 2.625rem;
      height: 2.625rem;
    }
  }

  .temperature-container {
    h1,
    p {
      color: #ffd2b5;
    }

    div {
      display: flex;

      .max-temp-indicator {
        align-self: center;
        margin-left: 0.81rem;
      }

      .min-temp-indicator {
        align-self: center;
        margin-left: 0.5rem;
        width: 1.125rem;
        height: 1.125rem;
        vertical-align: middle;
      }
    }
  }
}
