<section class="mat-hero-card-container">
  <div class="dates-container">
    <img
      class="calendar"
      src="assets/images/met-hero-card/calendar-outline 1.svg"
      alt=""
    />
    <h1>{{ heroCardParams.solesDate }}</h1>
    <p>{{ heroCardParams.earthDate }}</p>
  </div>
  <div class="temperature-container">
    <img
      class="thermometer"
      src="assets/images/met-hero-card/thermometer-outline 1.svg"
      alt="red marker"
    />
    <div>
      <h1>Máx.: {{ heroCardParams.maxTemp }}° F | C</h1>
      <img class="vector" src="assets/images/met-hero-card/Vector.svg" alt="" />
    </div>
    <div>
      <p>Mín.: {{ heroCardParams.minTemp }}° F | C</p>
      <img
        class="caret-down"
        src="assets/images/met-hero-card/caret-down-outline 1.svg"
        alt=""
      />
    </div>
  </div>
</section>
