<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<section class="mat-hero-card-container">
  <div [ngClass]="isLoading()" *ngIf="heroCardParams; else loadingTemplate">
    <div class="dates-container">
      <img
        class="calendar"
        src="assets/images/met-hero-card/calendar-outline 1.svg"
        alt=""
      />
      <h1>SOL {{ getSolNumberMarsDay(heroCardParams) }}</h1>
      <p>
        {{ getTerrestrialDate(heroCardParams) }}
      </p>
    </div>
    <div class="temperature-container">
      <img
        class="thermometer"
        src="assets/images/met-hero-card/thermometer-outline 1.svg"
        alt="red marker"
      />
      <div>
        <h1>
          Máx.:
          <span class="temp-span"
            >{{ getMaximumTemperature(heroCardParams) }}°</span
          >
          <span
            matTooltipClass="custom-tooltip"
            matTooltipPosition="above"
            matTooltip="Clique para trocar para Fahrenheit"
            aria-label="Button that displays a tooltip when focused or hovered over"
            class="tempType-span"
            (click)="changeType()"
            >{{ getTempType() }}</span
          >
        </h1>
        <app-max-temp-indicator
          class="max-temp-indicator"
          [maxIndicator]="getMaxIndicator()"
        />
      </div>
      <div>
        <p>
          Mín.: {{ getMinimumTemperature(heroCardParams) }}°
          {{ getTempType() }}
        </p>

        <app-min-temp-indicator
          class="min-temp-indicator"
          [minIndicator]="getMinIndicator()"
        />
      </div>
    </div>
  </div>
  <ng-template #loadingTemplate>
    <app-loading class="loading-container"></app-loading>
  </ng-template>
</section>
